@import './sections/_header';
@import './sections/_home';
@import './sections/_partners';
@import './sections/_describtion';
@import './sections/_about';
@import './sections/_statistics';
@import './sections/_planning';
@import './sections/_testimonials';
@import './sections/_help';
@import './sections/_start';
@import './sections/_contact';
@import './sections/_footer';
@import './sections/startedNow';


.title--bold {
    font-weight: 500;
}

.btn {
    min-height: 43px;
    height: 100%;
    border-radius: 2px;
    border: none;
    line-height: 16px;
    font-family: 'Quicksand';
    font-size: 13px;
}