.about {
    background-color: #FFFFFF;
    padding-top: 170px;
    padding-bottom: 172px;
    background: url('./assets/img/about/bg-right-top.png') no-repeat 95% 20%,
                url('./assets/img/about/bg-left.png') no-repeat 1% 50%;

    @media screen and(min-width: 1600px) {
        background: url('./assets/img/about/bg-right-top.png') no-repeat 80% 20%,
                    url('./assets/img/about/bg-left.png') no-repeat 10% 50%;
    }

    &__container.container {
        max-width: 800px;
        width: 100%;
    }

    .features__container {


        @media screen and (min-width: 768px) {


            &:first-child {
                position: relative;

                &::after {
                    position: absolute;
                    left: 190px;
                    top: 130px;
                    content: '';
                    width: 28px;
                    height: 1px;
                    background-color: #DAE4FE;
                }
            }

            &:nth-child(2) {
                position: relative;

                &::after {
                    position: absolute;
                    left: 180px;
                    top: 130px;
                    content: '';
                    width: 28px;
                    height: 1px;
                    background-color: #DAE4FE;
                }
            }

            &:nth-child(3) {
                position: relative;

                &::after {
                    position: absolute;
                    left: 190px;
                    top: 130px;
                    content: '';
                    width: 28px;
                    height: 1px;
                    background-color: #DAE4FE;
                }
            }
        }

    }

    &__title {
        font-family: 'Roboto';
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        color: #3D4F9F;
        margin-bottom: 20px;
    }

    &__subtitle {
        font-family: 'Quicksand';
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;
        color: #3D4F9F;
        margin-bottom: 92px;
    }

    &__img {
        margin-bottom: 33px;
    }

    &__mini-title {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 25px;
        color: #4074F8;
        margin-bottom: 25px;

    }

    &__text {
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
        font-weight: 600;
        line-height: 20px;
        color: #ADB3CB;
        text-align: center;
        max-width: 140px;
        width: 100%;
    }

    &__inner.row {
        margin-top: 92px;


        .buttons-container {
            max-width: 380px;
            width: 100%;
        }
    }

    &__btn-read.btn {
        color: #D43F3F;
        font-weight: 700;
        background-color: #FFD7D7;
        padding: 0 16px;
        margin-bottom: 40px;

        @media screen and(min-width: 576px) {
            margin-bottom: 0;
        }
    }

    &__btn-start.btn {
        color: #3A79FF;
        font-weight: 700;
        background-color: #D2E1FF;
        padding: 0 16px;
        margin-top: 40px;

        @media screen and(min-width: 576px) {
            margin-top: 0;
        }
    }

    &__word {
        color: #ADB3CB;
        font-size: 11px;
        font-weight: 600;
        line-height: 20px;
        font-family: 'Open Sans';
        position: relative;

        &::before {
            position: absolute;
            right: 30px;
            top: 9px;
            content: '';
            width: 15px;
            height: 1px;
            background-color: #DAE4FE;
        }

        &::after {
            position: absolute;
            left: 30px;
            top: 9px;
            content: '';
            width: 15px;
            height: 1px;
            background-color: #DAE4FE;
        }
    }
}