@import '../abstracts/mixins';
@import '../abstracts/vars';

.about {
    background-image: url(../assets/img/about/about-bg.svg);
    background-size: auto;
    background-repeat: no-repeat;
    padding: 171px 0px;

    .about__title {
        @include title_style(10px, 500, 12px, $colorTitle);
        text-align: center;
    }

    .about__subtitle {
        @include title_style(24px, 500, 30px, $colorTitle);
        margin-bottom: 92px;
    }

    .about__icon{
        width: 69px;
        height: 69px;
        margin-bottom: 33px;
    }

    .about__column-title{
        @include title_style(14px, 700, 25px, #4074F8);
        margin-bottom: 25px;
    }

    .about__column__text{
        @include title_style(11px, 600, 18px, #ADB3CB);
        text-align: center;
        max-width: 140px;
        width: 100%;
    }

    .about__btns-inner{
        display: flex;
        align-items: center;
        margin-top: 92px;

        .about__btn-more{
            @include text_style(13px, 700, 16px, #D43F3F);
            background-color: #FFD7D7;
        }

        .about__btn-text{
            margin: 0px 48px;
            @include text_style(11px, 600, 19px, #ADB3CB);
            position: relative;

            &::before{
                position: absolute;
                content: '';
                border: 1px solid #DAE4FE;
                width: 15px;
                top: 50%;
                right: 30px;
            }

            &::after{
                position: absolute;
                content: '';
                border: 1px solid #DAE4FE;
                width: 15px;
                top: 50%;
                left: 30px;
            }
        }
        }

        .about__btn-start{
            @include text_style(13px, 700, 16px, #3A79FF);
            background-color: #D2E1FF;
        }
    }
