.email{
    background: #FCFDFF;
    border: 1px solid #D8E3FE;
    border-left: none;
    border-right: none;
    padding: 120px 0;

    &__content{

    }

    .collapse:not(.show){
        display: block;
    }
}