// _header.scss

.header {

    .navbar-collapse {
        display: flex;
        justify-content: space-between;

        .navbar-light .navbar-nav .nav-link.active {
            $navbar-light-active-color:red;
            color: $navbar-light-active-color;
        }
    }
}
