// _header.scss

.header {
    padding: 18px 0;

    .navbar-collapse {
        display: flex;
        justify-content: space-between;

        .navbar-light .navbar-nav .nav-link.active {
            $navbar-light-active-color:red;
            color: $navbar-light-active-color;
        }
    }

    &__btn.btn{
        font-family: 'Quicksand';
        color: #3A79FF;
        font-size: 13px;
        font-weight: 700;
        line-height: 16px;
        background: #D2E1FF;
        border-radius: 2px;
    }
}
