.help {


    .accordion {
        max-width: 730px;
        width: 100%;

        .card {
            border: none;
            

            .card-header {
                background-color: #FFFFFF;
                border-bottom: 1px solid #D8E3FE;

            }
        }
    }
}