.main{
    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
    padding-top: 91px;


    &__title {
        font-family: 'Roboto';
        font-size: 10px;
        line-height: 12px;
        color: #3D4F9F;
        margin-bottom: 16px;
        text-align: center;
    }

    &__subtitle {
        font-family: 'Quicksand';
        font-size: 36px;
        font-weight: 300;
        line-height: 45px;
        color: #3D4F9F;
        margin-bottom: 28px;
        text-align: center;

        .text--bold {
            font-weight: 500;
        }
    }

    &__text {
        font-family: 'Roboto';
        font-size: 15px;
        line-height: 29px;
        color: #8D96BD;
        max-width: 502px;
        width: 100%;
        text-align: center;
    }

    
}