


.planning {
    background: #F5F8FF;
    padding-top: 104px;
    padding-bottom: 213px;

    .planning__title {
        @include text_style(10px, 500, 12px, #3D4F9F);
        font-family: 'Roboto';
        letter-spacing: 10%;
        margin-bottom: 20px;
    }

    .planning__subtitle {
        @include text_style(24px, 500, 30px, #3D4F9F);
        font-family: 'Quicksand';
        margin-bottom: 92px;
    }

    .swiper-container {
        max-width: 958px;
        height: 394px;
        


        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;

            .slide__planning-imgs-inner{
                display: grid;
                grid-template-columns: 267px 127px;
                grid-auto-rows: minmax(126px auto);
                gap: 13px;
                margin-right: 67px;

                .slide_planning-img{
                    border-radius: 5px;
                    &:first-child{
                        grid-area: 1/1/3/2;
                    }

                    &:nth-child(2){
                        grid-area: 1/2/2/3;
                    }

                    &:last-child{
                        grid-area: 2/2/3/3;
                    }
                }
            }

            .slide__planning-content{

                .slide__planning-title{
                    @include text_style(36px, 400, 45px, #3D4F9F);
                    font-family: 'Quicksand';
                    margin-bottom: 32px;
                }

                .slide__planning-text{
                    text-align: left;
                    max-width: 380px;
                    width: 100%;
                    @include text_style(14px, 400, 27px, #8D96BD);
                    font-family: 'Roboto';
                    margin-bottom: 32px;
                }

                .slide__btns-inner{
                    .slide__btn-now{
                        @include text_style(13px, 700, 16px, #3D4F9F);
                        background-color: #D2E1FF;
                        padding: 0px 15px;
                        margin-right: 8px;
                    }

                    .slide__btn-add{
                        @include text_style(13px, 700, 16px, #A6B6DA);
                        padding: 0px 15px;
                    }
                }
            }


        }

        .swiper-pagination{
            position: absolute;
            bottom: 30px;
            z-index: 100;
        }



    }
}