.resources {
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
    padding-top: 104px;
    padding-bottom: 104px;


    



    &__title {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        color: #3D4F9F;
        margin-bottom: 20px;
        text-align: center;
    }

    &__subtitle {
        font-family: 'Quicksand';
        font-size: 36px;
        font-weight: 400;
        line-height: 45px;
        color: #3D4F9F;
        margin-bottom: 92px;
        text-align: center;
    }


    .swiper-container {
        max-width: 958px;
        width: 100%;
        



        .swiper-slide {
            background: #FFFFFF;
            border: 1px solid #D8E3FE;
            box-shadow: 0px 15px 50px #EFF4FF;
            max-width: 958px;
            width: 100%;
            padding: 63px 0;



            





                .slide__imgs-inner {
                    display: grid;
                    grid-template-columns: 267px 127px;
                    grid-auto-rows: auto;
                    gap: 13px;


                    @media screen and (min-width:992px) {
                        margin-right: 67px;
                    }

                    .imgs-box {
                        &:first-child {
                            grid-area: 1/1/3/2;
                            position: relative;
                            z-index: 1;
                            transition: all .5s ease-out;

                            &::after {
                                content: '';
                                position: absolute;
                                z-index: 2;
                                top: 0px;
                                left: 0px;
                                right: 0px;
                                bottom: 0px;
                                transition: all .5s ease-out;
                                width: 100%;
                                height: 100%;
                                background: url(../assets/img/resources/search_icon_pseudo.svg) no-repeat 50%, linear-gradient(13.46deg, rgba(255, 199, 53, 0.44) 1.89%, rgba(255, 227, 154, 0.93) 1.9%, rgba(255, 159, 90, 0) 68.24%);
                                filter: drop-shadow(0px 15px 100px #E5EBF8);
                                opacity: 0;
                                border-radius: 5px;
                            }

                            &:hover::after {
                                opacity: 1;
                            }


                        }



                        &:nth-child(2) {
                            grid-area: 1/2/2/3;
                            position: relative;
                            z-index: 1;
                            transition: all .5s ease-out;

                            &::after {
                                content: '';
                                position: absolute;
                                z-index: 2;
                                top: 0px;
                                left: 0px;
                                right: 0px;
                                bottom: 0px;
                                transition: all .5s ease-out;
                                width: 100%;
                                height: 100%;
                                background: url(../assets/img/resources/search_icon_pseudo.svg) no-repeat 50%, linear-gradient(27.48deg, rgba(255, 53, 53, 0.48) 14.02%, rgba(255, 179, 90, 0) 68%);
                                background-size: 50px;
                                filter: drop-shadow(0px 15px 100px #E5EBF8);
                                opacity: 0;
                                border-radius: 5px;
                            }

                            &:hover::after {
                                opacity: 1;
                            }
                        }

                        &:last-child {
                            grid-area: 2/2/3/3;
                            position: relative;
                            z-index: 1;
                            transition: all .5s ease-out;


                            &::after {
                                content: '';
                                position: absolute;
                                z-index: 2;
                                top: 0px;
                                left: 0px;
                                right: 0px;
                                bottom: 0px;
                                transition: all .5s ease-out;
                                width: 100%;
                                height: 100%;
                                background: url(../assets/img/resources/search_icon_pseudo.svg) no-repeat 50%, linear-gradient(13.49deg, rgba(53, 170, 255, 0.68) 11.59%, rgba(90, 136, 255, 0) 96.88%);
                                background-size: 50px;
                                filter: drop-shadow(0px 15px 100px #E5EBF8);
                                opacity: 0;
                                border-radius: 5px;
                            }

                            &:hover::after {
                                opacity: 1;
                            }
                        }
                    }
                }

                .slide__content {

                    .slide__title {
                        font-family: 'Quicksand';
                        font-size: 36px;
                        font-weight: 400;
                        line-height: 45px;
                        color: #3D4F9F;
                        margin-bottom: 27px;
                    }

                    .slide__text {
                        font-family: 'Roboto';
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 27px;
                        color: #8D96BD;
                        max-width: 402px;
                        width: 100%;
                        margin-bottom: 47px;
                    }

                    .slide__btns-inner {
                        .btn__read {
                            background: #D2E1FF;
                            border-radius: 2px;
                            font-size: 13px;
                            line-height: 16px;
                            color: #3A79FF;
                            font-weight: bold;
                            padding: 0 16px;
                            margin-right: 23px;
                        }

                        .btn__add {
                            color: #A6B6DA;
                        }
                    }
                }
            
        }

        .swiper-pagination {

            bottom: 10px;
        }

        .swiper-button-next, .swiper-button-prev{
            transform: translate(-50%,-20%)!important;

        }

        .swiper-button-prev{
            left: 20px;
        }
        .swiper-button-next{
            right: -5px;
        }

    }

}