.statistics{
    .bg-blue{
        background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
    }
    .bg-grey{
        background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
    }

    &__inner-left{
        padding-top: 70px;
        padding-bottom: 70px;
        padding-right: 90px;
    }

    &__inner-right{
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 90px;
    }

    &__img{
        margin-bottom: 24px;

    }

    &__title-left{
        margin-bottom: 27px;
        font-family: 'Quicksand';
        font-weight: 400;
        font-size: 48px;
        line-height: 83px;
        color: #FFFFFF;
    }

    &__title-right{
        margin-bottom: 27px;
        font-family: 'Quicksand';
        font-weight: 400;
        font-size: 48px;
        line-height: 83px;
        color: #5E80FF;
    }

    &__text-left{
        font-family: 'Quicksand';
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #FFFFFF;
        max-width: 260px;
        width: 100%;
        text-align: right;
    }

    &__text-right{
        font-family: 'Quicksand';
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #5E80FF;
        max-width: 260px;
        width: 100%;
    }
}