.started{
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
    padding: 90px 0;

    &__title{
        font-family: 'Roboto';
        font-size: 10px;
        line-height: 12px;
        color: #FFFFFF;
        margin-bottom: 27px;
        font-weight: 500;
    }

    &__subtitle {
        font-family: 'Quicksand';
        font-size: 36px;
        font-weight: 400;
        line-height: 45px;
        color: #FFFFFF;
        margin-bottom: 27px;

        .text--bold {
            font-weight: 500;
        }
    }

    &__text {
        font-family: 'Roboto';
        font-size: 15px;
        font-weight: 400;
        line-height: 29px;
        color: #FFFFFF;
        max-width: 680px;
        text-align: center;
        width: 100%;
        margin-bottom: 47px;
    }

    &__btn-view.btn{
        background-color: #FFFFFF;
        padding: 0 17px;
        color: #565F82;
        font-weight: 700;
        line-height: 16px;
        border-radius: 2px 0px 0px 2px;
    }

    &__btn-read.btn{
        background-color: transparent;
        padding: 0 8px;
        color: #C7D3FF;
        font-weight: 700;
        line-height: 16px;
        border: 1px solid #A0B4FF;
        border-radius: 0px 2px 2px 0px;
    }
}