.testimonials{
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
    .testimonials__title{
    font-size: 10px;
    }

    .testimonials__subtitle{
    font-size: 36px;
    }

    .testimonials__text{
        max-width: 323px;
        width: 100%;
    }
}