.testimonials{

    .testimonials__title{
    font-size: 10px;
    }

    .testimonials__subtitle{
    font-size: 36px;
    }

    .testimonials__text{
        max-width: 323px;
        width: 100%;
    }
}